doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Landing Page Travel

    // BOX ICONS 
    link(rel="stylesheet", href="./node_modules/boxicons/css/boxicons.min.css")

    // SWIPER CSS
    link(rel="stylesheet", href="./node_modules/swiper/swiper-bundle.css")

    // CSS
    link(rel="stylesheet", href="./assets/scss/index.css")
  body

    // HEADER
    header.component__header
      nav.component__nav.bd-container
        a.component__nav-logo(href="") Travel
        .component__nav-menu#nav-menu
          ul.component__nav-list
            each val, i in ['Home', 'Explore','Destinations', 'Hotels']
              li.nav-item
                a.nav-link(href="#")=val 


    // GSAP
    script(src="./node_modules/gsap/dist/gsap.min.js") 

    // SWIPER JS
    script(src="./node_modules/swiper/swiper-bundle.min.js") 

    // JS
    script(src="./assets/js/index.js") 