// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600.headerdisplay=swap');


// variables css
$header-height: 3rem;

// color css
$first-color: #26A69A;
$first-color-lighter: #EFF3F2;
$title-color:#11443F;
$text-color: #5B7B78;
$body-color: #F5FFFE;

// Font .header Typographie
$body-font: 'Poppins', sans-serif;
$biggest-font-size: 3rem;
$big-font-size: 1.25rem;
$normal-font-size: .938rem;

// Font weight
$font-medium: 500;
$font-semi-bold: 600;

// z index
$z-tooltip: 10;
$z-fixed: 100;

@media screen and (min-width: 1024px) {
  $biggest-font-size: 5.5rem;
  $big-font-size: 2rem;
  $normal-font-size: 1rem;
}

// Base

*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1, h2, ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


// Layout

.main {
  position: relative;
}

.bd-container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

// Header

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

.header-nav {
  max-width: 968px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: $first-color-lighter;
    border-radius: 1rem;
    transition: .4s;
  }
}

.header-nav__logo,
.header-nav__toggle {
  color: $first-color-lighter;
}

.nav__link {
  color: $title-color;
  font-weight: $font-medium;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

// Show menu
.show-menu {
  top: $header-height + 1rem;
}


// Islands
.islands {
  height: 100vh;
  position: relative;
}

.islands__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.islands__container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr .25fr;
  align-content: center;
}

.islands__subtitle, .islands__title, .islands__description {
  color: $first-color-lighter;
}

.islands__subtitle {
  font-size: $big-font-size;
  font-weight: $font-medium;
}

.islands__title {
  font-size: $biggest-font-size;
}

.islands__description {
  margin-bottom: 1rem;
}

.islands__button {
  display: inline-flex;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: $first-color-lighter;
  color: $first-color;
  border-radius: .5rem;
  font-weight: $font-medium;

  &:hover {
    background-color: $body-color;
  }
}


.islands__button-icon {
  font-size: 1.5rem;
  margin-left: .5rem;
}

.islands__video {
  display: flex;
  align-items: flex-end;
  padding-bottom: .75rem;
}

.islands__video-content {
  display: inline-flex;
  padding: .15rem;
  cursor: pointer;
  background-color: $first-color-lighter;
  border-radius: 50%;
}

.islands__video-icon {
  font-size: 1.8rem;
  color: $first-color;
}

.islands__popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $first-color-lighter;
  padding: 1rem .75rem;
  border-radius: 1rem;
}

.islands__popup-close {
  position: absolute;
  top: -.75rem;
  right: -.75rem;
  display: inline-flex;
  padding: .35rem;
  background-color: $first-color;
  color: $first-color-lighter;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
}

// Show Popup

.show-popup {
  display: block;
}

// Controls
.controls__img {
  width: 35px;
  height: 35px;
  border-radius: .5rem;
  cursor: pointer;
}

.controls {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  padding: .25rem .5rem;
  background-color: $first-color-lighter;
  border-radius: .75rem;
  z-index: $z-tooltip;
  overflow: hidden;
}

.controls__container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}