@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600.headerdisplay=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #F5FFFE;
  color: #5B7B78; }

h1, h2, ul {
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.main {
  position: relative; }

.bd-container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.header-nav {
  max-width: 968px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media screen and (max-width: 768px) {
  .header-nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1.5rem;
    background-color: #EFF3F2;
    border-radius: 1rem;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; } }

.header-nav__logo,
.header-nav__toggle {
  color: #EFF3F2; }

.nav__link {
  color: #11443F;
  font-weight: 500; }

.nav__item {
  margin-bottom: 1.5rem; }

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer; }

.show-menu {
  top: 4rem; }

.islands {
  height: 100vh;
  position: relative; }

.islands__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center; }

.islands__container {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr .25fr;
  grid-template-columns: 2fr .25fr;
  -ms-flex-line-pack: center;
  align-content: center; }

.islands__subtitle, .islands__title, .islands__description {
  color: #EFF3F2; }

.islands__subtitle {
  font-size: 1.25rem;
  font-weight: 500; }

.islands__title {
  font-size: 3rem; }

.islands__description {
  margin-bottom: 1rem; }

.islands__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #EFF3F2;
  color: #26A69A;
  border-radius: .5rem;
  font-weight: 500; }
  .islands__button:hover {
    background-color: #F5FFFE; }

.islands__button-icon {
  font-size: 1.5rem;
  margin-left: .5rem; }

.islands__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: .75rem; }

.islands__video-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .15rem;
  cursor: pointer;
  background-color: #EFF3F2;
  border-radius: 50%; }

.islands__video-icon {
  font-size: 1.8rem;
  color: #26A69A; }

.islands__popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #EFF3F2;
  padding: 1rem .75rem;
  border-radius: 1rem; }

.islands__popup-close {
  position: absolute;
  top: -.75rem;
  right: -.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: .35rem;
  background-color: #26A69A;
  color: #EFF3F2;
  font-size: 1.2rem;
  border-radius: 50%;
  cursor: pointer; }

.show-popup {
  display: block; }

.controls__img {
  width: 35px;
  height: 35px;
  border-radius: .5rem;
  cursor: pointer; }

.controls {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: .25rem .5rem;
  background-color: #EFF3F2;
  border-radius: .75rem;
  z-index: 10;
  overflow: hidden; }

.controls__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1rem;
  column-gap: 1rem; }

/* Active controls */
.swiper-slide-thumb-active {
  width: 45px;
  height: 45px;
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out; }

/* Media queries */
@media screen and (max-width: 320px) {
  .bd-container {
    margin-left: 1rem;
    margin-right: 1rem; }
  .controls__container {
    -webkit-column-gap: .25rem;
    column-gap: .25rem; }
  .islands__popup-video {
    width: 230px;
    height: 100px; } }

@media screen and (min-width: 768px) {
  .header-nav {
    height: 4.5rem; }
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__item {
    margin-right: 2rem;
    margin-bottom: 0; }
  .nav__link {
    color: #EFF3F2; }
  .header-nav__toggle {
    display: none; }
  .islands__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); }
  .islands__description {
    padding-right: 5rem;
    margin-bottom: 2rem; }
  .islands__video {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0; }
  .islands__video-icon {
    font-size: 3rem; }
  .islands__popup-video {
    width: 500px;
    height: 250px; }
  .islands__popup-close {
    font-size: 1.5rem; }
  .controls {
    padding: 0.5rem;
    border-radius: 1.25rem; }
  .controls__container {
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem; }
  .controls__img {
    width: 45px;
    height: 45px;
    border-radius: .75rem; }
  .swiper-slide-thumb-active {
    width: 55px;
    height: 55px; } }

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto; }
  .islands__description {
    padding-right: 11rem; } }

/* Pour les grands écrans mobiles et desktop */
@media screen and (min-height: 721px) {
  .islands {
    height: 640px; } }
